.channel {
  color: #1cb3ff;
}

.title {
  font-weight: bold;
}

.titleRow {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.numbers {
  color: #999;
  display: flex;
  gap: 16px;
}
